.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.title-todo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 36px;
  color: #333333;
}

.active-todo {
}

.completed-todo {
  text-decoration: line-through;
}
