.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.title-todo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 36px;
  color: #333333;
}

.completed-todo {
  text-decoration: line-through;
}

.link-div {
  width: 608px;
  height: 55px;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  border-bottom: 1px solid #bdbdbd;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.link-basic {
  width: 80px;
}

.link-style {
  width: 80px;
  border-bottom: #2f80ed solid 4px;
  margin-bottom: -2px;
}

.todo-box-div {
  width: 608px;
  margin: 20px auto;
}

.todo-box {
  border: 1px #bdbdbd solid;
  width: 476px;
  height: 56px;
  border-radius: 12px;
  text-indent: 15px;
  font-size: 16px;
}

.todo-box::placeholder {
  font-size: 16px;
  font-weight: 400;
  margin-left: 5px;
  color: #828282;
}

.todo-list-div {
  width: 608px;
  margin: 20px auto;
  text-align: left;
}

.flex-row {
  display: flex;
  justify-content: space-between;
}

.add-button {
  width: 109px;
  height: 56px;
  border-radius: 12px;
  background-color: #2f80ed;
  color: #ffffff;
  font-weight: 600;
  border: none;
}

.delete-all-button {
  width: 125px;
  height: 40px;
  border-radius: 4px;
  background-color: #eb5757;
  color: #ffffff;
  font-weight: 600;
  margin: 20px 0 0 483px;
  border: none;
}
